$bodyColor: #2D2D2D;
$black: #444;
$grey: #AAA;
$red: #FF1046;
$facebookColor: #3B5998;
$white: #FFF;
$nimbus: 'nimbus-sans', sans-serif;
$sarina: 'sarina', cursive;

$homeHeight: 800px;
$logoHeight: 60px;