@import '../../bower_components/compass-mixins/lib/compass';
@import 'browser-happy';
@import 'common';
@import 'header';
@import 'page';
@import 'vars';
@import 'app';

html {
  height: 100%;
}

html,
body {
  min-height: 100%;
}

.container {
  @include box-sizing(border-box);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20px;
  //height: $homeHeight;

  margin: 0;
  padding: 1em 1em 0;
  min-height: 780px;
  font: normal 1em Arial, sans-serif;

  //background: no-repeat url(../assets/images/photo-1437912958086-300d70657a11.jpeg) center center;
  //background: no-repeat url(../assets/images/photo-1429962714451-bb934ecdc4ec.jpeg) center center;
  //background: no-repeat url(../assets/images/photo-1439539698758-ba2680ecadb9.jpeg) center center;
  //background: no-repeat url(../assets/images/background-1.jpg) center center;
  background: no-repeat url(../assets/images/food-truck.jpeg) center center;
  background-size: cover;

  &.ftContainer {
    //background-image: url(../assets/images/fee.jpeg);
    background-image: url(../assets/images/parked-bike.jpeg);
  }

  &:before {
    content: '\0020';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
  }
}

.blockletters {
  position: absolute;
  bottom: 40%;
  left: 0;
  right: 0;
  margin-top: -78px;

  color: #fff;
  font: 300 60px/50px $nimbus;

  text-transform: uppercase;
  text-align: center;

  strong {
    display: block;
    font-weight: 700;
    margin: 0 60px;
  }

  .baseline {
    display: inline-block;
    vertical-align: top;
    padding: 10px 50px 0;
    font-size: 20px;
    text-transform: none;
    line-height: 1;
  }
}

.callToAction {
  position: absolute;
  top: 70%;
  left: 50%;
  display: block;
  @include box-sizing(border-box);

  margin: 0 0 0 -200px;
  padding: 20px;
  width: 400px;

  color: $red;
  background: #FFF;
  font: normal 22px/1 $nimbus;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  @include transition(all 200ms);

  $padding: -2px;
  $paddingHover: 5px;

  /*&:after {
    content: '\0020';
    position: absolute;
    left: $padding * -1;
    top: $padding * -1;
    bottom: $padding * -1;
    right: $padding * -1;
    border: 4px solid #fff;
    @include transition(all 200ms);
  }*/

  &:hover {
    background: $red;
    color: #fff;

    /*&:after {
      border: 4px solid $red;
      left: $paddingHover * -1;
      top: $paddingHover * -1;
      bottom: $paddingHover * -1;
      right: $paddingHover * -1;
    }*/
  }
}

.callToActionForm {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  display: block;
  text-align: center;

  label {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -1px;
  }

  input[type="text"] {
    display: inline-block;
    vertical-align: middle;
    border: 0;
    padding: 0 0.8em;
    width: 500px;

    font: normal 26px/2.4 $nimbus;
    @include border-radius(2px 0 0 2px);
    color: #666;
  }

  input[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    border: 0;
    background: $red;
    color: white;

    padding: 0 0.8em;
    font: normal 26px/2.4 $nimbus;

    @include border-radius(0 2px 2px 0);
    cursor: pointer;

  }
}

.callToActionButtons {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  font-family: $nimbus;

  .or {
    display: block;
    padding: 10px 70px;
    color: #fff;
  }
  .or2 {
    display: block;
    padding: 10px 70px;
    font-weight: 200;
    font-size: 10px;
    color: #fff;
  }
}

.callToActionButton {
  display: inline-block;
  vertical-align: top;
  @include box-sizing(border-box);

  margin: 0;
  padding: 20px;
  width: 400px;

  color: $red;
  background: #FFF;
  font: normal 22px/1 $nimbus;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  @include transition(all 200ms);

  &:hover {
    background: $red;
    color: #fff;
  }
}

.callToActionButton2 {
  @extend .callToActionButton;
  padding: 15px;
  width: 250px;
  background: #AAA;
  color: #FFF;
}

// injector
// endinjector
